@{ Layout = "_Layout"; }

<body>
  <div class="container">
    <div class="jumbotron">

      <h1>Address Book</h1>
      <h2>Add a contact:</h2>
    </div>
    <a href='/'><button type="button" class="btn btn-dark btn-lg">Back to Address Book</button></a>
    <form action="/form" method="post">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" class="form-control" placeholder="Please enter name">
      </div>
      <div class="form-group">
        <label>Phone Number:</label>
        <input type="text" name="phonenumber" class="form-control" placeholder="Please enter phone number">
      </div>
      <div class="form-group">
        <label>Address:</label>
        <input type="text" name="address" class="form-control" placeholder="Please enter address">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Add New Address</button>
    </form>
  </div>

</body>

</html>
