<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Address Book</title>
    </head>
    <body>
        <div class="Container">
            <div class="jumbotron">
                <h1>Adress Book</h1>
                <form action="/form">
        <input type="submit" id="form" class="btn btn-dark btn-lg" value="Go to Form" />
      </form>

            </div>

        </div>
    </body>
</html>
