h1 {
    text-align: center;
    font-family: fantasy;
}

h2 {
    text-align: center;
    font-family: fantasy;
}

.formbutton {
    text-align: center;
}

.contactscenter {
  text-align: center;
}

.backbutton {
  text-align: center;
}
